section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

form{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 450px;
  height: 500px;
  background-color: rgb(153, 204, 255);
}


.form-group{
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-weight: 600;
}

input,
button{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0.5em;
}

button{
  background-color:cornflowerblue;
  font-weight: 600;
}

button:hover{

  background: #1565C0;
}

@media all and (max-width: 600px) {
  form{
    height: 350px;
  }


}
