<section>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/118595772&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/erasedtapesmusic" title="Erased Tapes Music" target="_blank" style="color: #cccccc; text-decoration: none;">Erased Tapes Music</a> · <a href="https://soundcloud.com/erasedtapesmusic/greg-haines-183-times" title="Greg Haines – 183 Times" target="_blank" style="color: #cccccc; text-decoration: none;">Greg Haines – 183 Times</a></div>
</section>

