<section>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
     <input type="email" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="passwd">Password</label>
      <input type="password" name="paswd" id="passwd">
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
</section>
