<nav>
  <ul class="navigation-left">
    <li>
    <a routerLink="">Home</a>
    </li>
  </ul>
  <ul class="navigation-right">
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/join">Join</a></li>
  </ul>
</nav>

