nav {
  background-color: cornflowerblue;
  color:white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}



.navigation-left{
  display: flex;
  flex-flow: row wrap;
  margin:0;
  padding: 0;

  list-style: none;
}

.navigation-right {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  list-style: none;
}

nav  a{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  padding: 1em;
  color:currentColor;
}

nav a:hover{
  background: #1565C0;
}

@media all and (max-width: 800px) {
  nav{
    justify-content: space-around;
  }
  .navigation-right{
    justify-content: space-around;
  }


}

@media all and (max-width: 600px) {
  nav{
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation-left{
    flex-flow: column wrap;
    padding: 0;

  }
  .navigation-right {
    flex-flow: column wrap;
    padding: 0;
  }

  nav a{
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  nav li:last-of-type a{
    border-bottom: none;
  }
}

